<!DOCTYPE html>
<html>
<head>
<body style="background-color: #dbe0e8;">
	<meta charset="UTF-8">
	<title>Package Deals</title>
</head>
<div>
	<h1>Package Deals</h1>
	<p>Select one of the following offers:</p>
	<form action="#" th:action="@{/lasvegas/locations}"
		th:object="${packagedeal}" method="post">
		<div>
			<strong>Package Deals:</strong>
			<div class="form-check form-check-inline">
				<input type="radio" id="orlando" name="price" value="orlando">
				<label for="orlando"> The STRAT Hotel, Casino & SkyPod + 2
					days $7000</label>
			</div>
			<div class="form-check form-check-inline">
				<input type="radio" id="lasvegas" name="price" value="lasvegas">
				<label for="lasvegas"> Las Vegas Natural History Museum + 5
					days $6000</label>
			</div>
			<div class="form-check form-check-inline">
				<input type="radio" id="newyork" name="price" value="newyork">
				<label for="newyork"> SPEEDVEGAS + 6 days $5000</label>
			</div>
			<div class="form-check form-check-inline">
				<input type="radio" id="losangeles" name="price" value="losangeles">
				<label for="losangeles"> The Adventuredome 7 days $4000</label>
			</div>
		</div>
		<br> <input type="submit" value="Submit" />
	</form>
</div>
</body>
</html>