<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/package_nav.css}" />
<meta charset="UTF-8">
<title>Insert title here</title>
<script src='https://kit.fontawesome.com/a076d05399.js'
	crossorigin='anonymous'></script>
</head>
<body>
	<div style="background-image: url('beach_loung.jpg');"></div>

	<style>
body {
	background-image: url('beach_loung.jpg');
}
</style>

	<div class="topnav">
		<a class="active" href="/packages">Home</a> <a href="/locations">Packages</a>
		<a href="/package/reserve">Reservations</a> <a href="#about">About</a>

		<i class='fas fa-user-alt' style='font-size: 30px; color: black'></i>
		<br> <a href="/userlogin">Login</a> <a href="/usersignup">Sign
			up</a>
		<div class="centered">SimplyReservations</div>
	</div>
</body>
</html>