<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Package List</title>
</head>
<body>
	<a href="/packages">Add a Reservation</a>
	<br />
	
	Package ID: <span th:inline="text"> [[${packageDeal.packageId}]] </span> <br />
	User ID: <span th:inline="text"> [[${packageDeal.userId}]] </span> <br />
	Airline ID: <span th:inline="text"> [[${packageDeal.airlineId}]] </span> <br />
	Hotel ID: <span th:inline="text"> [[${packageDeal.hotelId}]] </span> <br />
	Car ID: <span th:inline="text"> [[${packageDeal.carId}]] </span> <br />
	Origin City: <span th:inline="text"> [[${packageDeal.originCity}]] </span> <br />
	Destination City: <span th:inline="text"> [[${packageDeal.destination}]] </span> <br />
	Description: <span th:inline="text"> [[${packageDeal.pkgDescription}]] </span> <br />
	Departure Date: <span th:inline="text"> [[${packageDeal.departureDate}]] </span> <br /> 
	Return Date: <span th:inline="text"> [[${packageDeal.returnDate}]] </span> <br /> 	
</body>
</html>