<!DOCTYPE html>
<html>
<head>
<body style="background-color: #dbe0e8;">
<meta charset="UTF-8">
<title>Package Deals</title>
</head>
	<div>
		<h1>Package Deals</h1>
		<p>Select one of the following offers:</p>
		<form action="#" th:action="@{/florida/locations}" th:object="${packagedeal}" method="post">
			<div>
				<strong>Package Deals:</strong>
				Destination: <input type="text" th:field="*{destination}" /> 
		<span th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"> </span> <br />
			DepartureDate: <input type="text" th:field="*{departureDate}" /> 
		<span th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"> </span> <br />
			Return date: <input type="text" th:field="*{returnDate}" /> 
		<span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"> </span> <br />
			<br> 
			<input type="submit" value="Submit" />
		</form>
	</div>
</body>
</html>