<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.vertical-menu {
	width:800px;
	height: 300px;
	overflow-y: auto;
	justify-content: center;
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #4CAF50;
}
	
	

</style>
</head>
<body>
		
<h1> Vertical Scroll Menu</h1>

<div class="vertical-menu">

<a href="#" class="active"> Select a city</a>

<a href="/florida/locations"> Florida</a>
<a href="lasvegas/locations"> Las Vegas</a>
<a href="losangeles/locations"> Los Angeles</a> 
</div>				
					
						
				</td>
			</tr>

</body>
</html>
