<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Package Deals for San Diego to San Francisco</h1><br>
		<p>Select one of the following offers:</p>
		<form action="#" th:action="@{/SanDiegoToSanFrancisco}" th:object="${packagedeal}" method="post">
			<div>
			DepartureDate: <input type="text" th:field="*{departureDate}" /> 
		<span th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"> </span> <br />
			Return date: <input type="text" th:field="*{returnDate}" /> 
		<span th:if="${#fields.hasErrors('returnDate')}" th:errors="*{returnDate}"> </span> <br />
			<br> 
			<input type="submit" value="Submit" />
		</form>

</body>
</html>