<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Movie form</title>
</head>
<body>
	<form action="#" th:action="@{/movies/new}" th:object="${movie}" method="post">
	Username: <input type="text" th:field="*{username}" /> 
		<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> </span> <br />
	Password: <input type="text" th:field="*{password}" />
	    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> </span> <br /> 
	<input type="submit" value="Submit" />
	</form>
</body>
</html>