<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Movie form</title>
</head>
<body>
	<h2>Sign up form.</h2>
	<form action="#" th:action="@{/usersignup}" th:object="${movie}" method="post">
	Username: <input type="text" th:field="*{Username}" /> 
		<span th:if="${#fields.hasErrors('Username')}" th:errors="*{Username}"> </span> <br />
	Password: <input type="text" th:field="*{Password}" /> 
	    <span th:if="${#fields.hasErrors('Password')}" th:errors="*{Password}"> </span> <br /> 
	    City of Origin: <input type="text" th:field="*{originCity}" /> 
	    <span th:if="${#fields.hasErrors('originCity')}" th:errors="*{originCity}"> </span> <br />
	    
	   
	    
	<input type="submit" value="Submit" />
	</form>
</body>
</html>
